* {
    box-sizing: border-box;
}

header {
    font-size: 3.25rem;
    text-align: center;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

#gamedisplay {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    padding: 0 0 30px 0;
    text-align: center;
    margin: 0 auto;
}

.squaregrid {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 0px;
    font-size: 2.25rem;
}

.squarerow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    margin: 3px;
}

.squareletter {
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0;
    width: 16.7%;
    text-align: center;
    background-color: white;
    border: 3px solid lightgray;
    height: 100%;
    width: 18%;
}

.controls {
    display: flex;
}

#reset {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    padding: 20px;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    background-color: lightgray;
}

#reset:hover {
    background-color: #d98b92;
}

.keyboard {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
}

.keyboardrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.key {
    font-size: 1.5rem;
    font-weight: 600;
    width: 35px;
    height: 45px;
    margin: 2px;
    padding: 13px 3px;
    text-align: center;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}

.key:hover {
    color: white;
    background-color: #797c7e;
}

#keysubmit {
    font-size: 0.9rem;
    padding: 16px 3px;
    width: 60px;
}

#keybackspace {
    padding: 8px 3px;
    width: 50px;
}

@media screen and (max-width: 479px) {
    header {
        font-size: 3rem;        
    }

    .squaregrid {
        width: 300px;
        font-size: 2rem;
    }

    .squarerow {
        height: 52px;
    }

    .squareletter {
        padding: 10px 0;
    }

    .keyboard {
        width: 390px;
    }
}