* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

header {
    font-size: 3.5rem;
    text-align: center;
    font-style: italic;
    padding: 10px;
    letter-spacing: 1rem;
}

#gamedisplay {
    text-align: center;
}

.squaregrid {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 540px;
    margin: 0 auto;
    padding: 10px;
    font-size: 3rem;
}

.squarerow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid darkred; */
    height: 80px;
    margin: 10px;
}

.squareletter {
    padding: 10px;
    width: 16.7%;
    text-align: center;
    border: 1px solid darkblue;
    background-color: aliceblue;
    height: 100%;
}

.controls {
    text-align: center;
    padding: 10px;
}