* {
    box-sizing: border-box;
}

header {
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
    letter-spacing: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#gamedisplay {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    padding: 0 0 30px 0;
    text-align: center;
}

.squaregrid {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 350px;
    margin: 0 auto;
    padding: 0px;
    font-size: 2rem;
}

.squarerow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid darkred; */
    height: 60px;
    margin: 3px;
}

.squareletter {
    padding: 15px;
    width: 16.7%;
    text-align: center;
    border: 3px solid darkgray;
    background-color: white;
    height: 100%;
    width: 18%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.controls {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 20px;
}